<!--The content below is only a placeholder and can be replaced.-->
<div name="registration-title" style="text-align:left">
  <h1>
    {{title}}
  </h1>
</div>
<div name="registration-popup">

</div>
<div name="registration-box">
  <form (submit)="onSubmit()">
    <label>First Name: </label>
    <input type="text" name="fname" required minlength="3" maxlength="25"
    [(ngModel)]="user.fname" #fname="ngModel">
    <label>Last Name: </label>
    <input type="text" name="lname" maxlength="25"
    [(ngModel)]="user.lname">
    <label>Email: </label>
    <input type="email" name="email" required minlength="9" maxlength="30"
    pattern ="^([a-zA-Z0-9@*#]{8,15})$"
    [(ngModel)]="user.email" #email="ngModel">
    <label>Password: </label>
    <input type="password" name="password" required minlength="8" maxlength="25"
    [(ngModel)]="user.password">
    <label>Confirm Password: </label>
    <input type="password" name="confirm" [(ngModel)]="user.confirm">
    <label>Street: </label>
    <input type="text" name="street" [(ngModel)]="user.street">
    <label>Apt: </label>
    <input type="text" name="apt" [(ngModel)]="user.apt">
    <label>City: </label>
    <input type="text" name="city" [(ngModel)]="user.city">
    <label>State: </label>
    <input type="text" name="state" [(ngModel)]="user.state">
    <label>Yes</label>
    <input type="radio" name="lucky" value="yes" [(ngModel)]="user.lucky">
    <label>No</label>
    <input type="radio" name="lucky" value = "no" [(ngModel)]="user.lucky">
    <input type="submit">
  </form>
</div>
  {{ user | json }}
<p></p>
  {{ users | json }}
<p>{{ fname.errors | json }}</p>
<p>{{ fname.valid | json }}</p>
<p>{{ email.errors | json }}</p>
<p>{{ email.valid | json }}</p>
